<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><h2><b>Hello Ramanan,</b></h2> </p>
    <br>
    <p>
    The Code for Checkin is :<br><h1><%= @code.code %></h1>
    
   
  
    </p>
    
  </body>
</html>